.nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.nav a,
.nav button {
    background: #eee;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s;
}
.nav a:hover,
.nav a:focus,
.nav button:hover,
.nav button:focus {
    transform: scale(1.1);
    background: #fff;
    box-shadow: 0 0 0 3px #eee;
    border-color: #333;
    outline: none;
}
.nav a:global(.active) {
    background: #fff;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
}
/* pega o fill e altera do svg */
.nav a:global(.active) svg > * {
    fill: #fb1;
}
.mobileButton {
    background: #eee;
    border-radius: 0.2rem;
    height: 40px;
    width: 40px;
    padding: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.4s;
}
.mobileButton::after {
    content: "";
    display: block;
    width: 1.2rem;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    box-shadow: 0 6px currentColor, 0 -6px currentColor;
    transition: 0.4s;
}

.mobileButton:focus,
.mobileButton:hover,
.mobileButtonActive {
    outline: none;
    background: #fff;
    box-shadow: 0 0 0 3px #fea;
    border-color: #fb1;
    color: #fb1;
}
.mobileButtonActive::after {
    transform: rotate(90deg);
    width: 4px;
    height: 4px;
    box-shadow: 0 8px currentColor, 0 -8px currentColor, 0 -8px currentColor;
}

.navMobile {
    display: block;
    position: absolute;
    top: 70px;
    right: 0;
    padding: 0 1rem;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    pointer-events: none;
    opacity: 0;
}

.navMobileActive {
    pointer-events: initial;
    transition: .3s;
    transform:initial;
    opacity: 1;
    z-index: 100;
}
.navMobile a,
.navMobile button {
    transition: 0.4s;
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-bottom: 1px solid #eee;
    padding: .5rem 0;
    cursor: pointer;
}
.navMobile a:hover,
.navMobile button:hover {
    color: #fb1;
}
.navMobile a:hover *,
.navMobile button:hover *{
    fill: #fb1;
}

.navMobile svg {
    margin-right: .5rem;
}
.navMobile button {
    border-bottom: none;
    width: 100%;
}