.photoPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 2rem;
}
@media (max-width: 40rem) {
    .photoPost {
        grid-template-columns: 1fr;
    }
}
.photoPost .img {
    margin-bottom: 1rem;
}

.preview {
    border-radius: 1rem;
    background-position: center;
    background-size: cover;
}
.preview::after {
    content: "";
    display: block;
    height: 0px;
    padding-bottom: 100%;
} 